@import "desktop.css";

header{
  width: 400px;
}

main{
  width: 400px;
}

footer{
  width: 400px;
}

nav ul li{
  display: block;
  text-align: center;
}

#grid1, #grid2, #grid3{
  width: 350px;
  display: block;
}
